.pie{
    height: 30px;
    margin-inline: 1rem;
    align-items: center;
   
}
footer{
    background-color: black;
    align-items: center;

    display: inline;
    display: flex ;
    justify-content: center;
    align-items: flex-end;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem; 
    background-color: blueviolet;
}